@import "tailwindcss";


@keyframes shine {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.shine-text {
  background-image: linear-gradient(
    90deg,
    #000000,
    #23272A,
    #45484D,
    #757575,
    #9B9B9B,
    #45484D,
    #23272A,
    #000000
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}



@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.05);
  }
}

.galaxy-layer {
  position: absolute;
  border-radius: 9999px;
  opacity: 0.25;
  filter: blur(60px);
  background: radial-gradient(circle at center,
    rgba(168, 85, 247, 0.4) 10%,
    rgba(139, 92, 246, 0.3) 30%,
    rgba(109, 40, 217, 0.2) 60%,
    transparent 100%);
  mix-blend-mode: screen;
}

.galaxy-1 {
  animation: rotate 60s linear infinite;
}

.galaxy-2 {
  animation: rotate 90s linear infinite reverse;
}

.galaxy-3 {
  animation: rotate 120s linear infinite;
}
.active-shine {
  background: linear-gradient(
    90deg,
    #000 0%,
    #555 25%,
    #fff 50%,
    #555 75%,
    #000 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
  font-weight: 600;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
